/* css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px;
}
h2, p, h3{
    text-align: center;
}
nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition: font-size 0.3s ease-in-out;
}
nav a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 20px;
    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
    color: #E16960;
    font-size: 20px;
}

main {
    padding: 20px;
}

button{
    background-color: #ccc;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #aaa;
    color: #fff;
}


.container {
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

input[type="number"],
select,
textarea
{
     text-align: left;
     width: 20%;
     padding: 10px;
     margin-bottom: 30px;
     border: 1px solid #ccc;
     border-radius: 5px;
}

.labelContainer {
    text-align: left;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.labelRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.labelTitle {
    flex: 1;
    font-weight: bold;
}

.labelData {
    flex: 2;
    text-align: right;
}

/* CSS for styling the OK button */
.confirmButton {
    background-color: #52BE80;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.confirmButton:hover {
    background-color: #1D8348;
    color: #fff;
}

#logout {
    background-color: #E74C3C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#logout:hover {
    background-color: #B03A2E;
    color: #fff;
}

